{% extends "shared/base.html" %}
{% load static %}

{% block content %}
    <div class="card-content">
        {% for project in projects %}
            <article class="card">
                <header class="card__thumb">
                    <a href="{% url 'project detail' project.pk %}"><img src="{{ project.image.url }}" alt=""/></a>
                </header>
                <div class="card__body">
                    <div class="card__category"><a href="{% url 'project detail' project.pk %}">dj</a></div>
                    <h2 class="card__title"><a href="{% url 'project detail' project.pk %}">{{ project.title }}</a></h2>
                    <div class="card__subtitle">Technology used: {{ project.technology }}</div>
                    <p class="card__description">{{ project.description }}</p>
                </div>
                <footer class="card__footer">
                    <span class="icon ion-chatbox"></span><a href="#"> Comments</a>
                </footer>
            </article>
            {% if forloop.counter|divisibleby:5 %}
                </div>
                <div class="card-content">
            {% endif %}
        {% endfor %}
        </div>

{% endblock %}