@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Roboto", serif;
    font-size: 16px;
    background-color: #e0e0e0;
}

body {
    padding-left: 300px;
    padding-right: 300px;
    margin: 0;
}


.navbar {
    position: sticky;
    top: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 40px 0px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px -2px black;
    color: #A3A9A2;
    font-size: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 1;
}

.mkk-logo-conteiner {
    display: inline-block;
    margin-right: 20px;
}

.bg-light {
    background-color: rgb(52, 58, 64) !important;
}

.card-content {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;

}

article.card {
    margin: 10px;
}

.card {
    width: 19%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.5s;
}

.card a {
    color: inherit;
    text-decoration: none;
}

.card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}


.card__thumb {
    height: 245px;
    overflow: hidden;
    background-color: #000;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.card__thumb img {
    width: 100%;

    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

.card:hover .card__thumb {
    height: 130px;
}

.card:hover .card__thumb img {
    opacity: 0.6;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.card__body {
    position: relative;
    height: 185px;
    padding: 20px;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}

.card:hover .card__body {
    height: 300px;
}

.card__category {
    position: absolute;
    top: -25px;
    left: 0;
    height: 25px;
    padding: 0 15px;
    background-color: coral;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 25px;
}

.card__title {
    margin: 0;
    padding: 0 0 10px 0;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.card__subtitle {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 19px;
    color: coral;
}

.card__description {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 56px;
    margin: 0;
    padding: 0;
    color: #666C74;
    line-height: 27px;
    opacity: 0;
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.card:hover .card__description {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.card__footer {
    position: absolute;
    bottom: 12px;
    left: 20px;
    right: 20px;
    font-size: 11px;
    color: #A3A9A2;
}

.blog-header {
    margin-top: 15px;
}

.contact-header {
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contact-title {
    margin-left: 40px;
    margin-bottom: 0px;
    color: #595959;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

label {
    margin: 5px 0 5px 0;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 25px;
    font-size: 20px;

}

.form-info {
    display: flex;
    flex-basis: 58%;
    flex-wrap: wrap;
    align-content: center;
}

.form-message {
    display: flex;
    flex-basis: 40%;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.contact-btn {
    margin-top: 25px;
    margin-right: 25px;
    float: right;
}

.form-contact {
    border: 1px solid #646464;
    border-radius: 10px;
    box-shadow: 1px 1px 5px -2px black;
}

.contact-info {
    padding: 100px 0 0 50px;
}

.map {
    position: relative;
}

.map iframe {
    height: 350px;
    width: 98%;
    z-index: -1;
    display: inline-block;
}

.contact {
    border-radius: 20px;
    background: rgba(52, 58, 64, 0.93);
    width: 30rem;
    height: 13rem;
    position: absolute;
    top: 45px;
    right: 100px;
    box-shadow: 2px -3px 11px 1px #616161;

}

.contact-data {
    display: inline-block;
    font-size: 20px;
    color: white;
    margin: 10px;

}

li .fa {
    color: #2fb4ee;
    font-size: 30px;
    margin-left: 45px;
    margin-top: 25px;
    position: relative;
    top: 3px;

}

.contact li {
    display: inline-block;
}

.contact-line {
    height: 1px;
    color: gray;
    background-color: white;
    margin: -5px 10px 0 10px;
    box-shadow: 2px -3px 11px 1px #1c1c1c;
}

li .btn-light {
    margin-left: 20px;
    margin-bottom: 5px;
}


.icons-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    margin: 12px 50px 10px 45px;
}

.icons-header p {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-right: 20px;

}

.fa-facebook {
    color: #2fb3ed;
    margin-right: 30px;
}

.fa-github {
    color: #2fb3ed;
    margin-right: 30px;
}

.fa-linkedin {
    color: #2fb3ed;
    margin-right: 30px;
}

a .fab:hover {
    color: #dededf;
}

a {
    text-decoration: none;
}

.contact-street {
    display: inline-block;
    font-size: 20px;
    color: white;
    margin: 10px;

}

.contact-directions {
    display: inline-block;
    position: relative;
    left: 15px;
}

.contact-directions a {
    text-decoration: none;
}


header {
    height: 200vh;
}

.container {
    /* hide fixed overflow contents */
    clip: rect(0, auto, auto, 0);

    /* does not work if overflow = visible */
    overflow: hidden;

    /* only works with absolute positioning */
    position: absolute;

    /* Make sure containers are full-width and height */
    height: 100vh;
    width: 100%;
    min-width: 400px;
    max-width: 70%;


}

.container_solid {
    background: e2e2e2;
    /* position this container at the top of its parent element */
    top: 0;
    left: 341px;
    min-width: 400px;
    max-width: 70%;
}

.title_wrapper {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    /* center the text wrapper vertically */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title_wrapper h1 {
    text-align: center;
    font-size: 86px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 800;
    max-width: 40ch;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);

}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.container_solid .title_wrapper h1 {
    /* the text background */
    background: url(https://scontent.fsof8-1.fna.fbcdn.net/v/t1.6435-9/104119244_10217607163514494_8039413680506278953_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=e3f864&_nc_ohc=Wv2FkyV-AhYAX844nD_&_nc_ht=scontent.fsof8-1.fna&oh=00_AT-L_EU0yupaK200_1b_duEuHcwC-HQ-QPfckAxBjFIGYA&oe=625685DC);
    background-size: 73vw auto;
    background-position: center;

    /* clip the text is possible */
    text-fill-color: transparent;
    -webkit-text-fill-color: #343a40f5;
    background-clip: text;
    -webkit-background-clip: text;
    text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);

    /* fallback text color */
    color: black;
}

.container_image {
    /* Grab a free image from unsplash */
    background-image: url(https://scontent.fsof8-1.fna.fbcdn.net/v/t1.6435-9/104119244_10217607163514494_8039413680506278953_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=e3f864&_nc_ohc=Wv2FkyV-AhYAX844nD_&_nc_ht=scontent.fsof8-1.fna&oh=00_AT-L_EU0yupaK200_1b_duEuHcwC-HQ-QPfckAxBjFIGYA&oe=625685DC);
    background-size: 73vw auto;
    background-position: center;
    background-attachment: fixed;


    left: 350px;

    /* position the second container below the first container */
    top: 100vh;
}

.container_image .title_wrapper h1 {
    color: white;
    text-shadow: #1c1c1c;
}

.about-content {
    min-height: 100vh;
    padding: 2em;
    margin: auto;
    max-width: 1400px;
}

.about-content p {
    font-size:24px;
    width: 100%;

}

.about-content h2 {
    font-family: 'Fraunces', serif;
}

.about-content hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.about-color p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

}

.btn-cv {
    text-align: center;
}